# Write the code to answer the following questions

# 0- Imports

In [17]:
import pandas as pd

# 1- Read Salaries.csv as DataFrame & Call it `sal`.

In [18]:
sal = pd.read_csv('D:\Amit Diploma\AMIT\GitHub\AI-82\Pandas_Assignment\Salaries.csv')

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9644\492210177.py:1: SyntaxWarning: invalid escape sequence '\A'
  sal = pd.read_csv('D:\Amit Diploma\AMIT\GitHub\AI-82\Pandas_Assignment\Salaries.csv')
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9644\492210177.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('D:\Amit Diploma\AMIT\GitHub\AI-82\Pandas_Assignment\Salaries.csv')

# 2- Check the head of the DataFrame

In [19]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 3- Use the .info() method to find out how many entries there are.

In [20]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# 4- Convert BasePay & OvertimePay columns to numerical columns

In [21]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'] , errors='coerce')
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'] , errors='coerce')

sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB

# 5- What is the average BasePay?

In [22]:
average_BasePay = sal['BasePay'].mean()
print(average_BasePay)

66325.44884048769

# 6- What is the highest amount of OvertimePay in the dataset?

In [23]:
highest_amount_of_OvertimePay = sal['OvertimePay'].max()
print(highest_amount_of_OvertimePay)

245131.88

# 7- What is the job title of  JOSEPH DRISCOLL?

In [24]:
JOSEPH_DRISCOLL = sal['EmployeeName'] == 'JOSEPH DRISCOLL'
sal[JOSEPH_DRISCOLL]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [25]:
print(sal[JOSEPH_DRISCOLL]['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# 8- How much does JOSEPH DRISCOLL make (including benefits)?

In [26]:
print(sal[JOSEPH_DRISCOLL]['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

# 9- What is the name of highest paid person (including benefits)?

In [27]:
highest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
highest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [28]:
print(highest_paid[['EmployeeName', 'TotalPayBenefits']])

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

# 10- What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [29]:
lowest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
lowest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [30]:
print(lowest_paid[['EmployeeName', 'TotalPayBenefits']])

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

In [32]:
# yes, this is unusual because it is a negative amount
# which doesn't make sense for a salary. 
# may be data entry error,or missing data that needs to be cleaned or verified.

# 11- What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [ ]:
BasePay_2011 = sal[sal['Year'] == 2011]
print(BasePay_2011)

In [35]:
avg_BasePay_2011 = sal[sal['Year'] == 2011]['BasePay'].mean()
print(avg_BasePay_2011)

63595.95651677314

In [39]:
for year in [2011,2012,2013,2014]:
    avg_BasePay = sal[sal['Year'] == year]['BasePay'].mean()
    print("the BasePay average of", year, "is", avg_BasePay)

the BasePay average of 2011 is 63595.95651677314
the BasePay average of 2012 is 65436.40685742262
the BasePay average of 2013 is 69630.03021648063
the BasePay average of 2014 is 66564.42192449959

# 12- How many unique job titles are there?

In [41]:
unique_jobs = sal['JobTitle'].nunique()
print("Number of unique job titles:", unique_jobs)

Number of unique job titles: 2159

# 13- What are the top 5 most common jobs?

In [44]:
sal['JobTitle'].value_counts()

JobTitle
Transit Operator                  7036
Special Nurse                     4389
Registered Nurse                  3736
Public Svc Aide-Public Works      2518
Police Officer 3                  2421
                                  ...
Sr Cnselor, Juv Hall (SFERS)         1
Forensic Toxicologist Supervis       1
Conversion                           1
Cashier 3                            1
DEPUTY DIRECTOR OF INVESTMENTS       1
Name: count, Length: 2159, dtype: int64

In [45]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

# 14- How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [50]:
year_2013 = sal[sal['Year'] == 2013] 
Jobs_year_2013 = year_2013['JobTitle'].value_counts()
unique_jobs_2013 = (Jobs_year_2013 == 1).sum()
print("Number of job titles represented by only one person in 2013:", unique_jobs_2013)

Number of job titles represented by only one person in 2013: 202

# 15- How many people have the word Chief in their job title? (This is pretty tricky)

In [54]:
chief_count = sal[sal['JobTitle'].str.contains('chief', case=False, na=False)].shape[0]
print("Number of people with 'Chief' in their job title:", chief_count)

Number of people with 'Chief' in their job title: 627

# 16- Bonus: Is there a correlation between length of the Job Title string and Salary?

In [55]:
sal['TitleLen'] = sal['JobTitle'].str.len()
corr = sal[['TitleLen', 'TotalPayBenefits']].corr()
corr

                  TitleLen  TotalPayBenefits
TitleLen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

# Great Job!